{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Estónsko-Slovenský Slovník
{% endblock %}
{% block content %}
    <div class="container-fluid my-3 text-white" style="background-color:#998066; color:#f9f2ec; padding: 0.7%">
        <h1><div style="margin-left: 7%">Estónsko-Slovenský Slovník</h1></div>
    </div>
    <nav class="navbar navbar-expand-sm " style="background-color:#e0d9d1; color:#3d3329">
      <div class="container-fluid" style="padding-top: 0.5%; padding-bottom: 0.5%">
        <ul class="nav navbar-nav" style="margin-left: 7%">
          <li>{{ wtf.quick_form(form, action=url_for('base_svk'), form_type="inline") }}</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{{ url_for('index') }}" style="display: inline-block; padding-top: 10%; padding-bottom: 10%">
             <img alt="svk" src="https://www.statnivlajky.cz/data/flags/w580/ee.png"
             width=30" height="20">
          </a>
        </li>
        <li>
          <a href="{{ url_for('base_svk') }}" style="display: inline-block; padding-top: 10%; padding-bottom: 10%">
           <img alt="est" src="https://www.statnevlajky.sk/data/flags/w580/sk.png"
           width=30" height="20">
          </a>
        </li>
        </ul>


      </div>
    </nav>


    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
    <div class="container text-center" style="bottom: 0; width: 100%">
        <div class="col-sm-12">
        <p class="lead">
          <p class="text-secondary">Chýba Vám nejaké slovíčko? Vidíte zlý preklad? Máte pre nás nejaké rady? Chcete pomôcť s prekladaním? Určite sa ozvite - 449884@mail.muni.cz ! Uvítame všetkých záujemcov :)</p>
        </div>
    </div>

{% endblock %}
