{% extends "base-svk.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
<div class="col-sm-2">
    </div>

<div class="col-sm-7"><dl>
  <dt><h3>
    <p class="text-primary" style="color: #bf8040"> {{ entry.est_word }}<small class="font-italic text-lowercase"> {{ entry.est_postag }} </small> </p>  </h3>
  </dt>
 <div class="row">
  <div class="col-md-4">
    {% for item in entry.svk_words %}
      <dd> {{ item }} </dd>
        {% endfor %}
  </div>
</div>
</dl>

<div class="row">
  <div class="col-md-12">
    <a href= {{ entry.sonaveeb }} > {{ entry.sonaveeb }} </a>
  </div>
</div>
</div>
<div class="col-sm-3">
  <dl>
      <dt><p class="text-success" style="margin-top:30px; color: #bf8040">Formy slova:</p></dt>

        <dd> {{ entry.sg_gen }}</dd>
        <dd> {{ entry.sg_part }}</dd>
        <dd> {{ entry.sg_ill }}</dd>
        <dd> {{ entry.short_ill }}</dd>
        <dd> {{ entry.pl_part }}</dd>
        <dd> {{ entry.da_inf }}</dd>
        <dd> {{ entry.first_pers }}</dd>
        <dd> {{ entry.impers }}</dd>
    </div>
</div>


{% endblock %}
