{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block app_content %}
<div class="row">
    <div class="col-sm-2">
        <dl>
            <dt><p class="text-success" style="margin-top: 30px; color: #bf8040;">{{ _("Muud:") }}</p></dt>

            {% for item in other_found_words[:5] %}
            <dd>{{ item.base_word }}</dd>
            {% endfor %}
        </dl>
        <dl>
            <dt><p class="text-success" style="margin-top: 30px; color: #bf8040;">{{ _("Lähedad sõnad:") }}</p></dt>

            {% for item in other_close_matches[:5] %}
            <dd>{{ item.base_word }}</dd>
            {% endfor %}
        </dl>
    </div>

    <div class="col-sm-6">
        <dl>
            <dt>
                <h3>
                    <p class="text-primary" style="color: #bf8040;">{{ entry.base_word }}<small class="font-italic text-lowercase"> {{ entry.postag }} </small></p>
                </h3>
            </dt>
            <div class="row">
                <div class="col-md-4">
                    {% for item in entry.translated_words %}
                    <dd>{{ item }}</dd>
                    {% endfor %}
                </div>
            </div>
        </dl>
        {% if language == 'est-svk' %}
          <div class="row">
            <div class="col-md-12">
                <a href={{ entry.sonaveeb }}>{{ _("Otsi sõnaveebilt") }}</a>
            </div>
        </div>
        {% endif %}
    </div>
    {% if language == 'est-svk' %}
    <div class="col-sm-3">
        <dl>
            <dt><p class="text-success" style="margin-top: 30px; color: #bf8040;">{{ _("Sõnavormid:") }}</p></dt>

            {% for item in entry.shapes.split(',') %}
            <dd>{{ item[2:-1] }}</dd>
            {% endfor %}
        </dl>
    </div>
    {% endif %}
</div>

{% endblock %}
