{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Eesti-Slovaki Sõnaraamat</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, action=url_for('index')) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
        <p class="lead">
          <p class="text-secondary">Kas teil on mingi soovitusi? Puudub midagi? Tahaksite aidata tõlkimisega? Kindlasti kirjutage - 449884@mail.muni.cz ! Ootame kõik huvilisi :)</p>
        </div>
    </div>
{% endblock %}
