{% extends "base-svk.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
<div class="col-sm-2">
    </div>

<div class="col-sm-7"><dl>
  <dt><h3>
    <p class="text-primary" style="color: #bf8040"> {{ entry.svk_word }}<small class="font-italic text-lowercase"> {{ entry.svk_postag }} </small> </p>  </h3>
  </dt>
 <div class="row">
  <div class="col-md-4">
    {% for item in entry.est_words %}
      <dd> {{ item }} </dd>
        {% endfor %}
  </div>
</div>
</dl>

</div>


{% endblock %}
